body{
    width: 97%;
    background-color: #faace9;
    padding: 5px;
     margin: 20px;
    display: grid;
    align-items: center;
}

header{
    text-align: center;
    color: #fff;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 20px;
    background-color:rgb(252, 142, 237);;
}
nav{
    background-color: #fafafa;
    height: 50px;
    padding-top: 20px;
    align-items: center;
    border-radius: 20px;
    border-color: #fa41d2;
}
a{
    color: #fa41d2;
}
main{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 40px;
    background-color: rgb(255, 255, 255);
    display: grid;
    grid-template-columns: 80% 20%;
    gap: 20px;
}
footer{
    background-color: rgb(252, 142, 237);
    padding: 20px;
    color: aliceblue;
    
}
aside{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(238, 238, 238);
    font-size: larger;
    background-color: #fa41d2;
    text-align: center;
    align-items: center;
    padding: 30px;
    border-radius: 20px;
}
article{
    text-align: center;
    background-color: #faace9;
    padding: 40px;
    color: #f5f2f5;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-radius: 20px;
    
}
article>h3{
    font-weight: bold;
    
    font-style: oblique;
}
